@import "../../style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      .link {
        color: themed("textColor");
      }
      span {
        font-weight: bold;
        font-size: 30px;
        font-style: normal;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          outline: none;
          background-color: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
          }
        }
      }
    }
    .right {
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        display: none;
      }
      button {
        position: absolute;
        border: none;
        padding: 5px;
        color: white;
        cursor: pointer;
        background-color: #f0544f;
        border-radius: 3px;
        cursor: pointer;
        
        top: 30px;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
