@import "../../style.scss";


.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    border-radius: 10px;
    width: 50%;
    display: flex;
    background-color: white;
    min-height: 600px;
    overflow: hidden;
    @include mobile {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        border-radius: 0;
    }
    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/2170387/pexels-photo-2170387.jpeg?cs=srgb&dl=pexels-bestbe-models-2170387.jpg&fm=jpg&_gl=1*i31q90*_ga*NDU4NjYxMTQ1LjE2NjUyOTExODU.*_ga_8JE65Q40S6*MTY2NzI2Mzk1MS4yLjEuMTY2NzI2NDgyMC4wLjAuMA..")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: white;
      
      @include mobile {
       height: 350px;
      }

      h1 {
        font-size: 100px;
        line-height: 100px;
        @include mobile{
          font-size: 50px;
        line-height: 50px;
        }
      }
      p {
      }
      span {
        font: size 10px;
      }
      button {
        width: 50%;
        padding: 10px;
        background-color: white;
        color: rebeccapurple;
        border: none;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      
      h1 {
        color: #555;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          background-color:#938eef;
          color: white;
          border: none;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
